@keyframes marker-animate {
  0% {transform: translateY(0px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
}

.special-marker {
  animation: marker-animate 1s linear infinite;
  transform-origin: center;
  align-self: center;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#zoom-reset-button {
  background-color: #3575cb;
  color: white;
  font-size: 1.5em;
  font-style: bold;
  border: 0;
}

#battle-name {
  padding: 0;
  margin: 0;
}

#zoom-reset-button:hover {
  opacity: 0.8;
}

#zoom-reset-button-hidden {
  visibility: hidden;
  margin: -1em;
}
